<script setup lang="ts">
import Square from "./Square.vue";

function handleSquareClick(msg: string): void {
  console.log(msg);
}
</script>

<template>
  <div class="squares">
    <Square @click="handleSquareClick" />
    <Square />
  </div>
</template>

<style scoped>
.squares {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
</style>
