<script setup lang="ts">
import { computed, type PropType } from "vue";

const props = defineProps({
  // To determine if the component has a `@click` listener:
  onClick: {
    type: Function as PropType<(msg: string) => void>,
    required: false,
    default: undefined,
  },
});

defineEmits<{
  // (e: "click", msg: string): void;
  (e: "click", ...args: Parameters<NonNullable<typeof props.onClick>>): void;
}>();

const cursor = computed<CSSStyleDeclaration["cursor"]>(() => {
  return props.onClick ? "pointer" : "not-allowed";
});
</script>

<template>
  <div class="square" @click="$emit('click', 'Hello, World!')" />
</template>

<style scoped>
.square {
  width: 200px;
  height: 200px;
  background-color: deepskyblue;
  cursor: v-bind(cursor);
}
</style>
